.no-left-border {
    border-left: 0 !important;
}

.logo-name {
    font-size: 35px;
    color: #a7b1c2;
}

li.active {
    font-weight: bold;
    min-height: inherit;
    padding: 1px;
}

.no-left-border {
    border-left: 0 !important;
}

li.active {
    font-weight: bold;
}

.slimScrollBarModified {
    width: 7px;
    position: absolute;
    top: 52px;
    opacity: 0.4;
    display: none;
    border-radius: 7px;
    z-index: 99;
    right: 1px;
    height: 129.032258064516px;
    background: rgb(0, 0, 0);
}

.slimScrollRailModified {
    width: 7px;
    height: 100%;
    position: absolute;
    top: 0px;
    display: none;
    border-radius: 7px;
    opacity: 0.2;
    z-index: 90;
    right: 1px;
    background: rgb(51, 51, 51);
}

/*income Service */
.incomeServiceDateField {
    width: 95% !important;
    margin-left: 15px;
}

/* Custom table Width */
.table30 {
    width: 30px;
}main.css

.table50 {
    width: 30px;
}

.table100 {
    width: 100px;
}

.hide-me {
    display: none !important;
}