.timeline-item .content {
	min-height: inherit;
	padding: 1px;
}

.timeline-item .date {
	width: 50px;
}

.no-left-border {
  border-left: 0 !important;
}

.timeline-item .content .service-content {
  padding: 3px 10px;
}
.timeline-item .content .service-content:hover {
  background: #f6f6f6;
}

.timeline-item .content:hover {
  background: none;
}

/*pabebe
*